footer {
    background: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid;
    border-top-color: #CCCCCC;
    bottom:0;
    position: absolute;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer-content p {
    text-align: center;
}